body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: none;
}
.inner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 12, 196, 0.9);
  overflow: auto;
}
.form-data {
  margin-top: 15%;
  background-color: #fff;
}
.form-body {
  padding: 20px;
}
.form-head {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.form-head h2 {
  font-size: 22px;
  font-weight: 600;
}


.no-margin {
  margin: 0px;
}
.form-row {
  margin-bottom: 15px;
}
.form-control {
  background-color: #f7f7ff;
}
.form-control:focus {
  box-shadow: none;
  border: 3px solid #138496;
}

.btn-appointment {
  background-color: #138496 !important;
  border-color: #138496;
  width: 100%;
}
.content {
  margin-top: 15%;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.content h1 {
  font-weight: 600;
  font-size: 3.5rem;
}
.content p {
  font-size: 18px;
}
.datepicker td,
.datepicker th {
  padding: 8px;
}
.dropdown-menu.datepicker {
  max-width: 300px !important;
}

@media screen and (max-width: 976px) {
}
